<htmL>
    <head>
        <title>Capstone Project</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'restaurant/css/index.css' %}">
    </head>
    <body>
        <h1 style="text-align:center;">Welcome to Little Lemon Restaurant</h1>
        <div class= header>
            
            <a href=""><img  src="{% static 'restaurant/favicon.ico' %}" width="35px" height="35px"></a>
            <div class="header-right">
                <a class="tag" href="../register/" >Register</a>
                <a href="" class="active tag">Login</a>
                
            </div>
        </div>
        <div class="midContent">
            <div class="leftBlock">
                <h1 class="">Little Lemon</h1><br>
                <form method="POST">
                    {% csrf_token %}
                    {{ login_form }}
                    <input type="submit" value="Login">

                </form>

            </div>
            
            
            <img src="{% static 'restaurant/img/mario-and-adrian.jpg'%}" class="rightBlock" alt="Menu" >
            
        </div>
        <footer>
            <div class=”footer-content”>
                <h3 class="footer-content" >Little Lemon</h3>
                <p class="footer-content">Created by Laksh with ♥</p>
            </div>
        </footer>
        
    </body>
</htmL>